    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Hi! My name is Jamie and I am a Computer Science major at the University of Notre Dame. I love this field of study because it is a combination of engineering, science, and art. I'm a creative problem solver, so coding has always been an interesting and exciting skill for me.</p>
                <p>Also, I am a member of the Band of the Fighting Irish. I am fortunate enough to march on the field for every Notre Dame home football game, and play with the band on many other occasions.</p>
            </div>
        </div>
    </section>