 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi I'm Jamie! I study Computer Science and Constitutional Studies at the University of Notre Dame. I am particularly interested in cyber security. I would like my future career to be an intersection of the two things I love most: <span style="font-family:Courier">coding</span> and <span style="font-family:cursive">politics</span>. I also love music and am a member of the Band of the Fighting Irish!</p>
                </div>

                <div class="col-lg-4">
                    <p>I have taken Fundamentals of Computing I & II, Discrete Math, Basic UNIX, and Logic Design. I am currently enrolled in Data Structures, Computer Architecture, Building Web Applications, and Case Studies in Computing-Based Entrepreneurship</p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/websiteresume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file"></i> View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
